#!/bin/bash

## Deyployment type
# If true all nodes are VMs and use libvirt networks.
# If not true only Fuel Master and additional nodes
# are VMs, comunication through physical interfaces
export VIRTUAL=true
export NODES_NUMBER=3
# Supported versions:
#  - 9.0
#  - 9.1
export FUEL_VERSION=9.1

## Network
# Physical interfaces
export HOST_PXE_INTERFACE=fuel1
export HOST_MGMT_INTERFACE=fuel2
export HOST_STORAGE_INTERFACE=fuel2
export HOST_PRIVATE_INTERFACE=fuel3
export HOST_PUBLIC_INTERFACE=fuel4
# Used when virtual deployment
export PUBLIC_NET_GW=172.16.0.1

## Fuel master
export DEPLOY_FUEL_MASTER=yes
export FUEL_ADMIN_IP=10.20.0.2
# If FUEL_ADMIN_NET_GW is not set we will use
# provider network to communicate with
# external networks through eth0.
# Required for virtual deployment.
export FUEL_ADMIN_NET_GW=10.20.0.1
export FUEL_ADMIN_MASK=255.255.255.0
export ADMIN_NET=10.20.0.0/24
export DHCP_GW=10.20.0.2
export DHCP_START=10.20.0.3
export DHCP_END=10.20.0.254
export DNS_SERVER=8.8.8.8
export NTP_1=0.fuel.pool.ntp.org
case $FUEL_VERSION in
  9.0)
    RELEASE_RPM=http://fuel-repository.mirantis.com/mos-repos/centos/mos9.0-centos7/os/x86_64/Packages/fuel-release-9.0.0-1.mos6349.noarch.rpm
    #EU: http://mirror.seed-cz1.fuel-infra.org/mos-repos/ubuntu/snapshots/9.0-2016-06-23-164100-copy
    #USA: http://mirror.seed-us1.fuel-infra.org/mos-repos/ubuntu/snapshots/9.0-2016-06-23-164100
    MOS_REPO=http://mirror.seed-cz1.fuel-infra.org/mos-repos/ubuntu/snapshots/9.0-2016-06-23-164100-copy
    ;;
  9.1)
    RELEASE_RPM=http://fuel-repository.mirantis.com/mos-repos/centos/mos9.0-centos7/9.1-updates/x86_64/Packages/fuel-release-9.0.0-1.mos6357.noarch.rpm
    MOS_REPO=http://mirror.fuel-infra.org/mos-repos/ubuntu/snapshots/9.0-2016-12-20-174323
    ;;
  *)
    echo "Fuel version: ${FUEL_VERSION} not supported."
    exit 1
    ;;
esac
export RELEASE_RPM
export MOS_REPO

## Vagrant
# Fuel master should be deployed as first
export VAGRANT_NO_PARALLEL=yes
